/* Global styles
------------------------------------*/

/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
}

/* Header & Footer
------------------------------------*/

/*Navbar styles only*/

.container--header {
  border-bottom: 2px solid white;
}

.navbar-default {
  margin-bottom: 0;
  padding-top: 10px;
  border: none;
  background: none;
  background-color: rgba(0,0,0,0);
  z-index: 100;
}

.navbar-nav {
  font-size: 1.2em;
}

.navbar-rsvp  {
  margin-top: 3px;
  border: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 2px;
}

.navbar-default .navbar-brand {
  font-size: 1.5em;
  color: gold;
}
.navbar-default .navbar-brand:hover {
  color: rgba(255,206,143,.5);
}

@media (min-width : 768px) {
  .navbar-default .navbar-nav>li>a {
    color: gold;
  }
}
.navbar-default .navbar-nav .navbar-rsvp>a {
  padding: 10px 20px;
  color: white;
}
.navbar-default .navbar-nav .navbar-rsvp>a:hover {
background-color: white;
color: black;
}

.navbar-default .navbar-nav>li>a:hover {
color: rgba(255,206,143,.5);
}

.navbar-sm {
  background-color: white;
}
.navbar-default .navbar-sm .navbar-nav>li>a:hover {
color: blue;
}

.navbar-list-sm {
  color: black;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: white;
}

.navbar-default .navbar-toggle{
  background-color: white;
}

.navbar-toggle span {
  font-size: 20px;
}

@media (max-width : 767px) {
  .navbar-default {
    padding-top: 0;
  }
}

/*Header Images styles*/
.imghead-rsvp {
  background: url('../_images/weddingdaybanner.jpg');
  background-position: center center;
  height:650px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -66px;
}
.imghead-index {
  background: url('../_images/lochbanner.jpg');
  background-position: center center;
  height:650px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -66px;
}
.imghead-alpha {
  position: relative;
    /*background: rgba(10, 35, 66, 0.5);*/
    /*background: rgba(0,0,0, 0.3);*/
    background: rgba(26,17,34,.6);
    background-position: center center;
    height:650px;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-expanded {
  top:0;
}

/*Header text style*/
.headertext {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.headertext>h1 {
  font-size: 5em;
  color: white;
}
.headertext>h2 {
  font-size: 1.5em;
  color: white;
}
.headertext>p {
  font-size: 1.3em;
  color: white;
}

.header-link {
  color: white;
}

.header-link:hover {
  color: gold;
}

/* Footer styles*/

.footer {
  margin-top: 30px;
  background-color: #3c4859;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer p>a {
  color: white;
}

.footer-backtotop {
  float: right;
}

.footer-backtotop a {
  color: white;
}

.footerLargeResolution {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* body styles
------------------------------------*/
h3 {
  text-align: center;
}

.intro h3 {
  margin-top: 0;
}

.about-us {
  text-align: center;
}

.about-us-img {
  margin: 0 auto;
  display: block;
}

.wedding-day-info {
  text-align: center;
}

.wedding-day-info h2{
  padding-bottom: 20px;
}

.panel-default > .panel-heading {
  background-color: whitesmoke;
}

iframe {
  float: right;
  padding-left: 10px;
}
.donate h2 {
  margin-top: 0;
  font-size: 2em;
  line-height: 150%;
}

.donate h2:nth-child(2) {
  margin: 40px 0;
  font-size: 2em;
}

.donation-img {
  height: 30%;
  width: 30%;
}

.panel {
  border-radius: 0;
}

.page-content {
  text-align: justify;
  font-size: 2rem;
}

.page-content-intro {
  padding-top: 2rem;
  text-align: justify;
  font-size: 2rem;
}

.page-content-intro--centre {
  text-align: center;
}

.hotel-name-header {
  text-align: center;
  padding-bottom: 1.5rem;
}

.content-paragraph {
  font-size: 1.7rem;
}

.content-paragrapgh--margin {
  margin-top: 20px;
}
.content-paragraph--justified {
  text-align: justify;
}

.directions-header {
  padding-top: 1.5rem;
}

.hotel-image {
  padding-bottom: 2rem;
  margin: 0 auto;
}

.about-us--story-header {
  padding-top: 1em;
  padding-bottom: 0.8em;
}

.about-us--story-text {
  margin-left: 2em;
  margin-right: 2em;
  text-align: justify;
  font-size: 1.2em;
}

.about-us--story-text:last-child {
  padding-bottom: 1.5em;
}

/* Form styles
------------------------------------*/

.col-form-legend {
  font-size: 1em;
  border-bottom: none;
  font-weight: bold;
  margin-bottom: 0;
}

.invalid-feedback{
  color: red;
  font-weight: bold;
}

.radio-inline>label{
  font-weight: 400;
}

/* GoFundMe styles
------------------------------------*/
.badge-widget {
  border: none;
  background-image: url("https://funds.gofundme.com/css/3.0_donate/purple/widget.png");
}
